.login-container {
  height: 50vh;
  max-width: 100%;
  padding: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: var(--primary-bgcolor);
}
.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.5rem;
}
.link-text {
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5rem 0;
}
