.price-filter-container {
  display: flex;
  flex-direction: column;
  height: 8rem;
  padding: 0.25rem;
}
.filter-input-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.filter-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-filter-input {
  height: 1.25rem;
  width: 80%;
}
.filter-input:focus {
  outline: none;
}
