.carousel-container {
  height: 70vh;
  max-width: 100%;
  background-color: red;
}
.carousel-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 65vh;
}
.carousel-image {
  width: 100%;
  height: 70vh;
  align-self: flex-start;
}

.carousel-left-arrow,
.carousel-right-arrow {
  font-size: 5rem;
  color: white;
}
.carousel-dots {
}
