.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  min-height: 5vh;
  background-color: var(--secondary-color);
}
.menu-btn {
  display: none;
  outline: none;
  background-color: transparent;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.menu-link {
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 650px) {
  .menu-container {
    justify-content: start;
  }
  .menu-btn {
    display: block;
  }
  .menu-link {
    display: none;
  }
}
