.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--secondary-color);
}

.menu-btn {
  display: inline-block;
  outline: none;
  background-color: transparent;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
